*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#menu{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
#menu li {
    list-style-type: none;
}
#menu>ul >li {
    float: left;
    position: relative;
    
    
}
#menu>ul > li >a {
    height: 50px;
    display: block;
    padding: 0 10px;
    background-color: aquamarine;
    line-height: 50px;
    color: white;
    border-bottom: 2px solid black;
    transition: all .5s ease;

}

#menu > ul > li:hover >a{
    background-color: black;
    border-bottom: 2px solid aquamarine;
}
#menu > ul > li > ul {
    position: absolute;
    left: 0;
    top:100%;
    background-color: rgb(85, 151, 85);
    display: none;

    
}
#menu > ul > li > ul > li > a {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    
}

#menu > ul > li:hover > ul  {
    display: block;
}